html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to right, rgb(14, 168, 14), rgb(152, 247, 152));
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: 100%;
    background-position-y: 30%;

    @include breakpoint-down (small) {
        background-size: 101% 100%;
    }

    @include breakpoint-down (x-small) {
        background-size: 101% 100%;
    }

}



button {
    font-family: 'Rubik', sans-serif;
    font-size: large;
    width: 100%;
    padding: 10px;
    border: 2px solid $white;
    border-radius: 21px;
    cursor: pointer;
    color: $Black;
    background-color: $white;

    &:hover {
        background-color: $Red;
    }

}

img {
    max-width: 100%;
}